body {
	background-color: #4480EE;
    font-family: arial;
    color: white;
    text-align: justify;

}

.intro {
    padding-top: 50px;
    position: fixed;
    left: 30%;

}

h1 {
	color: #FFB835;
	text-decoration: underline;
}

nav{
background-color: #033EAA;
width:100%;

}

.btn {
    background-color: #033EAA;
    color: white ;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.btn a:hover {
    background-color: #111;
    color: red;
}

.dropbtn {
    background-color: #033EAA;
    color: white ;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #033EAA;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #111;
    color: red;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #033EAA;
}

form {
    text-align-last: center;
    border-style: double;
    border-width: medium;
}

